td {
  padding: 0.125em 1em;
}

thead tr {
  background-color: #282c34;
  color: white;
}

tbody tr:nth-child(2n) {
  background-color: #e1e4e9;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search {
  width: 100%;
  padding: 20px;
}

.Search input {
  width: 100%;
}

.tr1 {
  width: 100px;
}

.tr2, .tr3 {
  width: 400px;
}